<section class="projects" id="projects">
    <h2 class="projects__heading">Mis <span>Proyectos</span></h2>
    <div class="projects__container">
        <div class="projects__bar">
            <div class="projects__box">
                <div class="projects__content">
                    <h3 class="projects__subtitle">Lorem ipsum dolor sit amet consectetur</h3>
                    <p class="projects__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo odit unde optio ab! Placeat repellendus ducimus amet quibusdam incidunt quaerat rem autem, veniam, ullam dolore magni molestiae explicabo nostrum.</p>
                </div>
            </div>
            <div class="projects__box">
                <div class="projects__content">
                    <h3 class="projects__subtitle">Lorem ipsum dolor sit amet consectetur</h3>
                    <p class="projects__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis ipsum enim ex, doloremque temporibus tempore animi velit et, aperiam ea praesentium saepe. Molestiae exercitationem possimus dolores enim fugit accusamus? Fugit.</p>
                </div>
            </div>
            <div class="projects__box">
                <div class="projects__content">
                    <h3 class="projects__subtitle">Lorem ipsum dolor sit amet consectetur</h3>
                    <p class="projects__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem inventore fugit magnam quasi qui, ipsum voluptatem cupiditate fuga voluptatum perferendis pariatur officiis eius quos eos harum, dignissimos excepturi! Ut, minima.</p>
                </div>
            </div>
        </div>
    </div>
</section>