<section class="newExperience">
    <div class="newExperience__blob"></div>
    <div class="newExperience__content">
        <form #f="ngForm" (ngSubmit)="onCreate()">
            <h2 class="newExperience__heading">Experiencia</h2>
            <div class="newExperience__boxInput">
                <input class="newExperience__input" id="nameE" name="nameE" type="text" [(ngModel)]="nameE" autocomplete="off" required>
                <label class="newExperience__label" for="nameE">Nombre</label>
            </div>
            <div class="newExperience__boxInput">
                <input class="newExperience__input" id="descriptionE" name="descriptionE" type="text" [(ngModel)]="descriptionE" autocomplete="off" required>
                <label class="newExperience__label" for="descriptionE">Descripción</label>
            </div>
            <a class="newExperience__back" href="/">Regresar al inicio</a>
            <button class="newExperience__btn" type="submit">Agregar</button>
        </form>
    </div>
</section>