@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;

//Contenedor principal
.footer {
    padding: 2rem 9%;
    background: v.$color_bgPrincipal;
    color: v.$color_text;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //Ajusta el footer con el mobile-bar
    @include m.mq_tablet {
        margin-bottom: 7rem;
    }

    //Cambia el flex
    @media (max-width: 544px) {
        flex-direction: column-reverse;
    }

    //Contenedor del texto
    &__boxText {
        text-align: center;

        //Le da un espaciado
        @media (max-width: 544px) {
            margin-top: 1.5rem;
        }
    }

    //Texto principal
    &__text {
        font-size: 1.6rem;
    }

    //Contenedor del icono
    &__boxIcon {
        position: relative;
        padding: .8rem;
        border-radius: .6rem;
        border: .2rem solid v.$color_principal;
        background: v.$color_bgSecondary;
        color: v.$color_text;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background: v.$color_bgPrincipal;
            transition: .5s;
            z-index: -1;
        }

        &:hover::before {
            width: 100%;
        }
    }

    //Icono
    &__icon {
        font-size: 2.4rem;
    }
}