<header class="header">
    <a class="header__logo" href="#home"><img class="header__logo__img" src="../../../assets/img/logos/logoAP_1.png" alt="Logo AP"></a>
    <nav class="header__navbar">
        <a class="header__navbar__text active" href="#home">Inicio</a>
        <a class="header__navbar__text" href="#about">Sobre mi</a>
        <a class="header__navbar__text" href="#education">Educación</a>
        <a class="header__navbar__text" href="#skills">Skills</a>
        <a class="header__navbar__text" href="#contact">Contacto</a>
        <a class="header__navbar__btn" href="/login">Ingresa</a>
    </nav>
</header>