@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;

/* Variables locales */
$transform: scale(1.1);

//Contenedor principal
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 9999;

    //Reduce el padding
    @include m.mq_notebook {
        padding: 2rem 4%;
    }

    //Sticky
    &--sticky {
        background: v.$color_bgPrincipal;
    }

    //Contenedor de logo AP
    &__boxLogo {
        width: 12rem;
        transition: .5s;

        &:hover {
            transform: $transform;
        }
    }

    //Logo AP
    &__logo {
        width: 100%;
    }

    //Barra de navegación
    &__navbar {
        display: flex;
        align-items: center;
    }

    //Textos
    &__text {
        margin-left: 3.5rem;
        font-weight: 500;
        font-size: 1.7rem;
        color: v.$color_text;
        transition: .5s;
    
        &:hover {
            color: v.$color_principal;
        }
    
        //Oculta los textos
        @include m.mq_tablet {
            display: none;
        }
    }

    //Boton de login
    &__btn {
        margin-left: 3.5rem;
        padding: .5rem 1.6rem;
        border-radius: .5rem;
        font-size: 1.6rem;
        background-color: v.$color_principal;
        color: v.$color_text;
        text-transform: uppercase;
        transition: .5s;

        &:hover {
            transform: $transform;
        }
    }
}