<section class="banner" id="home">
    <div class="banner__content">
        <h1 class="banner__textPrincipal">{{persona.nombre}}</h1>
        <div class="banner__boxText"><h3 class="banner__textSecundary">Full Stack Developer JR</h3></div>
        <p class="banner__textTertiary">Este proyecto fue realizado en el marco de Argentina Programa #YoProgramo4, por Cristian Emanuel Tula para el ministerio de economía de la nación y el INTI.</p>
        <div class="banner__boxBtn">
            <button class="banner__btn" (click)="downloadCv()">Ver CV</button>
            <a class="banner__btn" href="#projects">Proyectos</a>
        </div>
    </div>
    <div class="banner__boxSocial">
        <a class="banner__icon" href="#" title="Ir a Facebook"><i class="bx bxl-facebook-circle"></i></a>
        <a class="banner__icon" href="#" title="Ir a Instagram"><i class="bx bxl-instagram"></i></a>
        <a class="banner__icon" href="#" title="Ir a Linkedin"><i class="bx bxl-linkedin-square"></i></a>
    </div>
</section>