@use '../../../../scss/variables' as v;
@use '../../../../scss/mixins' as m;

/* Variables Locales */
$background__black: rgba(0, 0, 0, 0.5);
$color_facebook: #1877F2;
$color_instagram: #E4405F;
$color_linkedin: #0077B5;

/* Mixins Locales */
@mixin bannerText() {
    animation: bannerText 5s linear infinite;
    animation-delay: 2s;
    @keyframes bannerText {
        0%, 10%, 100% {
            background-position: -40rem 0;
        }
        65%, 85%{
            background-position: 0 0;
        }
    }
}

@mixin bannerTextCursor() {
    animation: bannerTextCursor 5s linear infinite;
    animation-delay: 2s;
    @keyframes bannerTextCursor {
        0%, 13%, 100% {
            width: 0;
        }
        65%, 78%, 85% {
            width: 100%;
            opacity: 1; 
        }
        75%, 81% {
            opacity: 0;
        }
    }
}

//Contenedor principal
.banner {
    position: relative;
    padding: 0 9%;
    display: flex;
    align-items: center;
    background: url(../../../../assets/img/general/wall.webp) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;

    //Cambio de flex
    @include m.mq_phone() {
        justify-content: center;
    }

    //Agrega opacidad a el banner
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $background__black;
        z-index: -1;
    }

    //Contenido
    &__content {
        max-width: 70rem;

        //El contenido se centra
        @include m.mq_phone() {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }

    //Texto principal
    &__textPrincipal {
        font-weight: 700;
        font-size: 5.6rem;
        line-height: 1.3;
    }

    //Contenedor del texto secundario
    &__containerText {
        position: relative;
        width: 38rem;
    }

    //Texto secundario
    &__textSecundary {
        font-weight: 700;
        font-size: 3.2rem;
        -webkit-text-stroke: .7px v.$color_principal;
        background-image: linear-gradient(v.$color_principal, v.$color_principal);
        background-repeat: no-repeat;
        background-clip: text;
        background-position: -40rem 0;
        color: transparent;
        @include bannerText();

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            border-right: 0.2rem solid v.$color_principal;
            @include bannerTextCursor();
            z-index: -1;
        }
    }

    //Párrafo
    &__textTertiary {
        margin: 2rem 0 4rem;
        font-size: 1.6rem;
    }

    //Contenedor de los botones
    &__containerBtn {
        position: relative;
        width: 34.5rem;
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }

    //Botones
    &__btn {
        position: relative;
        width: 15rem;
        height: 100%;
        border: .2rem solid v.$color_principal;
        border-radius: 0.8rem;
        letter-spacing: .1rem;
        font-weight: 600;
        font-size: 1.8rem;
        background: v.$color_principal;
        color: v.$color_bgPrincipal;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .5s;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background: v.$color_bgPrincipal;
            transition: .5s;
            z-index: -1;
        }

       &:nth-child(2) {
            background: transparent;
            color: v.$color_principal;

            &::before {
                background: v.$color_principal;
            }

            &:hover {
                color: v.$color_bgPrincipal;
            }
       }

       &:hover {
            color: v.$color_principal;

            &::before {
                width: 100%;
            }
       }
    }

    //Contenedor de las redes sociales
    &__containerSocial {
        position: absolute;
        width: 17rem;
        bottom: 4rem;
        display: flex;
        justify-content: space-between;

        @include m.mq_tablet{
            margin-bottom: 7rem;
        }
    }

    //Iconos de redes
    &__icon {
        position: relative;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: .2rem solid v.$color_principal;
        font-size: 2rem;
        background: transparent;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: .5s;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background: v.$color_principal;
            transition: .5s;
            z-index: -1;
        }

        &:hover::before {
            width: 100%;
        }

        //Color al icono de Facebook
        &:nth-child(1) {
            color: $color_facebook;
        }

        //Color al icono de Instagram
        &:nth-child(2) {
            color: $color_instagram;
        }

        //Color al icono de LinkedIn
        &:nth-child(3) {
            color: $color_linkedin;
        }
    }
}

