<section class="banner" id="home">
    <div class="banner__content">
        <h1 class="banner__textPrincipal">Cristian Emanuel</h1>
        <div class="banner__boxText">
            <h3 class="banner__boxText__textSecundary">Full Stack Developer JR</h3>
        </div>
        <p class="banner__textTertiary">Este proyecto fue realizado en el marco de Argentina Programa #YoProgramo4, por Cristian Emanuel Tula para el ministerio de economía de la nación y el INTI.</p>
        <div class="banner__boxBtn">
            <button class="banner__boxBtn__btn" href="#" (click)="downloadCv()">Ver CV</button>
            <button class="banner__boxBtn__btn" href="#">Proyectos</button>
        </div>
    </div>
    <div class="banner__boxSocial">
        <a class="banner__boxSocial__icon" href="#"><i class='bx bxl-facebook-circle'></i></a>
        <a class="banner__boxSocial__icon" href="#"><i class='bx bxl-instagram'></i></a>
        <a class="banner__boxSocial__icon" href="#"><i class='bx bxl-linkedin-square'></i></a>
    </div>
</section>