<section class="editExperience" *ngIf="expe">
    <div class="editExperience__blob"></div>
    <div class="editExperience__content">
        <form #f="ngForm" (ngSubmit)="onUpdate()">
            <h2 class="editExperience__heading">Experiencia</h2>
            <div class="editExperience__boxInput">
                <input class="editExperience__input" id="nameE" name="nameE" type="text" [(ngModel)]="expe.nameE" autocomplete="off" required>
                <label class="editExperience__label" for="nameE">Nombre</label>
            </div>
            <div class="editExperience__boxInput">
                <input class="editExperience__input" id="descriptionE" name="descriptionE" type="text" [(ngModel)]="expe.descriptionE" autocomplete="off" required>
                <label class="editExperience__label" for="descriptionE">Descripción</label>
            </div>
            <a class="editExperience__back" href="/">Regresar al inicio</a>
            <button class="editExperience__btn" type="submit">Editar</button>
        </form>
    </div>
</section>