<section class="skills" id="skills">
    <h2 class="skills__heading">Hard & <span>skills</span></h2>
    <div class="skills__content">
        <circle-progress
            [percent]="100"
            [title]="'HTML 5'">
        </circle-progress>
        <circle-progress
            [percent]="95"
            [title]="'CSS 3'">
        </circle-progress>
        <circle-progress
            [percent]="75"
            [title]="'JavaScript'">
        </circle-progress>
        <circle-progress
            [percent]="80"
            [title]="'Angular'">
        </circle-progress>
        <circle-progress
            [percent]="60"
            [title]="'MySQL'">
        </circle-progress>
        <circle-progress
            [percent]="65"
            [title]="'Java'">
        </circle-progress>
        <circle-progress
            [percent]="70"
            [title]="'Inglés'">
        </circle-progress>
        <circle-progress
            [percent]="100"
            [title]="'Equipo'">
        </circle-progress>
    </div>
</section>
