<section class="skill" id="skills">
    <h2 class="skill__heading">Hard & <span>Skills</span></h2>
    <div class="skill__box">
        <div class="skill__content" *ngFor="let skill of skill">
            <circle-progress [title]="(skill.name)" [percent]="(skill.percent)"></circle-progress>
            <div class="skill__boxIcon" *ngIf="isLogged">
                <a class="skill__icon" href="editskill/{{skill.id}}"><i class="bx bx-pencil"></i></a>
                <a class="skill__icon skill__icon--colorDelete" role="button" (click)="delete(skill.id)"><i class="bx bx-message-alt-x"></i></a>
            </div>
        </div>
    </div>
    <div class="skill__edit" *ngIf="isLogged"><a class="skill__btn" href="newskill">Crear</a></div>
</section>