<section class="education" id="education">
    <h2 class="education__heading">Mi <span>Educación</span></h2>
    <div class="education__bar">
        <div class="education__box">
            <div class="education__content">
                <h3 class="education__subtitle">Hogares Del Espíritu Santo</h3>
                <p class="education__description">Finalice la educación primaria en el año 2015 en esta escuela.</p>
            </div>
        </div>
        <div class="education__box">
            <div class="education__content">
                <h3 class="education__subtitle">Hogares Del Espíritu Santo</h3>
                <p class="education__description">Finalice la educación secundaria en ciencias sociales en el año 2021 en esta institución.</p>
            </div>
        </div>
        <div class="education__box">
            <div class="education__content">
                <h3 class="education__subtitle">UNLAM</h3>
                <p class="education__description">Actualmente, en el presente estoy haciendo el curso de ingreso en la Universidad Nacional De La Matanza para la carrera de Ingeniería en Informática.</p>
            </div>
        </div>
    </div>
</section>