<section class="about" id="about">
    <h2 class="about__heading">Sobre <span>Mi</span></h2>
    <div class="about__boxImg" *ngIf="persona">
        <img class="about__img" src="{{persona.img}}" alt="Imagen de perfil">
        <span class="about__spinner"></span>
    </div>
    <div class="about__content" *ngIf="persona">
        <h3 class="about__nameUser">{{persona.nombre}} {{persona.apellido}}</h3>
        <p class="about__description">{{persona.description}}</p>
        <div class="about__edit" *ngIf="isLogged"><a class="about__btn" href="editabout/1">Editar</a></div>
    </div>
</section>