<section class="about" id="about">
    <h2 class="about__heading">Sobre <span>Mi</span></h2>
    <div class="about__boxPrincipal">
        <img class="about__boxPrincipal__img" src="../../../../assets/img/general//wallpaper.png" alt="Imagen de usuario">
        <span class="about__boxPrincipal__spinner"></span>
    </div>
    <div class="about__content">
        <h3 class="about__content__nameUser">Cristian Emanuel Tula</h3>
        <p class="about__content__description">Soy un desarrollador Full Stack JR de Argentina Programa y estudiante de ingeniería informática en la Universidad Nacional De La Matanza. Amo la programación disfruto muchísimo escribir código, mi especialidad es el Font End y me encantan los videojuegos.</p>
    </div>
</section>