<div class="mobileBar">
    <a class="mobileBar__box" href="#home">
        <i class="bx bx-home mobileBar__icon"></i>
        <span class="mobileBar__text">Inicio</span>
    </a>
    <a class="mobileBar__box" href="#about">
        <i class="material-icons mobileBar__icon">person</i>
        <span class="mobileBar__text">Sobre mi</span>
    </a>
    <a class="mobileBar__box" href="#education">
        <i class="material-icons mobileBar__icon">school</i>
        <span class="mobileBar__text">Educación</span>
    </a>
    <a class="mobileBar__box" href="#skills">
        <i class="material-icons mobileBar__icon">timeline</i>
        <span class="mobileBar__text">Skills</span>
    </a>
    <a class="mobileBar__box" href="#contact">
        <i class="material-icons mobileBar__icon">contact_support</i>
        <span class="mobileBar__text">Contacto</span>
    </a>
</div>