<section class="login">
    <div class="login__blob"></div>
    <div class="login__content">
        <form #loginForm="ngForm" (ngSubmit)="onLogin()">
            <h2 class="login__heading">ARG Programa</h2>
            <div class="login__boxInput">
                <span class="login__icon"><i class='bx bx-user'></i></span>
                <input class="login__input" id="nombreUsuario" name="nombreUsuario" type="text" [(ngModel)]="nombreUsuario" autocomplete="off" required (input)="clearErrorMessage()">
                <label class="login__label" for="nombreUsuario">Usuario</label>
            </div>
            <div class="login__boxInput">
                <span class="login__icon"><i class='bx bx-lock-alt'></i></span>
                <input class="login__input" id="password" name="password" type="password" [(ngModel)]="password" required (input)="clearErrorMessage()">
                <label class="login__label" for="password">Contraseña</label>
            </div>
            <div class="login__boxCheck">
                <label><input class="login__check" type="checkbox">Recordar</label>
                <a href="/">Regresar al inicio</a>
            </div>
            <div id="error-message" style="display: flex; justify-content: center; align-items: center; font-size: 1.5rem; margin-top: 3rem; color: #ff202f; font-weight: 600; transition: 10s linear;" *ngIf="isLogginFail"><i style="margin-right: .3rem;" class='bx bxs-error-alt'></i>{{ errorMessage }}</div>
            <button class="login__btn" type="submit">Ingresar</button>
        </form>
    </div>
</section>