@use 'variables' as v;

/* Heading - texto de cada sección */
@mixin heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;

    span {
        color: v.$color_principal;
    }
}

/** Media Queries **/
@mixin mq_phone {
    @media (max-width: v.$mq_phone) {
        @content;
    }
}

@mixin mq_tablet {
    @media (max-width: v.$mq_tablet) {
        @content;
    }
}

@mixin mq_notebook {
    @media (max-width: v.$mq_notebook) {
        @content;
    }
}