//Fuentes
$font_principal: 'Poppins', sans-serif;

//Tamaño de Media Queries
$mq_phone: 480px;
$mq_tablet: 768px;
$mq_notebook: 1024px;

//Colores
$color_white: #fff;
$color_black: #000;
$color_principal: #28b2b6;
$color_text: #ededed;
$color_error: #ff202f;
$color_bgPrincipal: #1f242d;
$color_bgSecondary: #112e42;