<section class="editExperience" *ngIf="edu">
    <div class="editExperience__blob"></div>
    <div class="editExperience__content">
        <form #f="ngForm" (ngSubmit)="onUpdate()">
            <h2 class="editExperience__heading">Educación</h2>
            <div class="editExperience__boxInput">
                <input class="editExperience__input" id="nameEdu" name="nameEdu" type="text" [(ngModel)]="edu.nameEdu" autocomplete="off" required>
                <label class="editExperience__label" for="nameEdu">Nombre</label>
            </div>
            <div class="editExperience__boxInput">
                <input class="editExperience__input" id="descriptionEdu" name="descriptionEdu" type="text" [(ngModel)]="edu.descriptionEdu" autocomplete="off" required>
                <label class="editExperience__label" for="descriptionEdu">Descripción</label>
            </div>
            <a class="editExperience__back" href="/">Regresar al inicio</a>
            <button class="editExperience__btn" type="submit">Editar</button>
        </form>
    </div>
</section>